*{
  margin: 0;
}


a{
  text-decoration: none;
}



ul li{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 1rem;
}



.main_div{
  display: flex;
  align-items: center;
  justify-content: space-evenly;



}


.folder_main{
margin: 10rem;
}

.sub_menu{
  margin-left: 30%;
}
.root{
  margin-left: .5rem;
}

.root_main{
  margin-bottom: .7rem;
}

button{
  cursor: pointer;
}

.plus{
  margin-right:.5rem;
}


.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 50%;
  background-color: #ffffff;
  padding: 10px;
}

.footer {
  margin-top: 10px;
}



.cross{
  margin-left: .7rem;
  cursor: pointer;
}

.item{
  text-transform: capitalize;
}



.items{
  display: flex;
  align-items: center;
  
}



.ml_5{
  margin-left: 15%;
}

.lists{
  margin-top: 1rem;
}